<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">
    <select id="selectTestData" resultType="com.ticket.data.Test">
        SELECT TESTNUM, TESTCONTENT
        FROM TEST
        ORDER BY TESTNUM
    </select>
    <insert id="insertTest" parameterType="com.ticket.data.Test">
        INSERT INTO test
        VALUES(#{testNum}, #{testContent})
    </insert>
    <insert id="insertUserData">
        INSERT INTO userdata(userId, userName, nickName, userPwd, userPhone)
        VALUES(#{userId}, #{userName}, #{nickName}, #{userPwd}, #{userPhone});
    </insert>
</mapper>